<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bm.fusionworker">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppBaseCompactTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.InputNewPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.setting.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mine.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.setting.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MessageLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mine.PersonalCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mine.ImageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme" />

        <!-- 高德地图 -->
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0a26d825f50c45a2182e43976c9238dc" />
        <!-- 定位需要的服务 -->
        <!-- <service android:name="com.amap.api.location.APSService" /> -->
        <activity
            android:name=".fragment.HomeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.RepairItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.InspectionItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mine.RefundHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.RepairingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".weights.BigPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.InspectioningActivity"
            android:screenOrientation="portrait" />

         <activity
         android:name=".MainCheckerActivity"
         android:screenOrientation="portrait" />
        <activity
            android:name=".views.checker.CreatePatrolPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.checker.NotAcceptanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.checker.AcceptWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.checker.ChargeOrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.checker.ChargeInputNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.checker.ChargeCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.checker.UsersInspectionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.checker.PileStatusActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".views.checker.GuildingActivity"></activity>
    </application>

</manifest>